<div class="jumbotron pt-1 pb-3" >
    <h1 class="display-2">Calend Me</h1>

    <h3 >A cool app to plan nice stuff</h3>

    <hr class="my-4">

    <div class="d-inline-block">
        <p class="lead"> Welcome {{user.firstname}} {{user.name}} </p>
    </div>

    <div class="d-inline-block">
        <form action="/calendme/auth/logout" method="post">
            <button type="submit" class="btn btn-link"><i class="fas fa-sign-out-alt"> Sign out</i></button>
        </form>
    </div>

</div>

<nav class="navbar navbar-expand jumbotron pt-1 pb-1 pl-1">

    <span class="btn btn-link">Home</span>

    <span class="navbar-text">
        /
    </span>

</nav>


<script>
//Function to hide / display a table
    function toggle_visibility(id) {
        var obj = document.getElementById(id);
        if(obj.style.display =='table')
            obj.style.display ='none';
        else
            obj.style.display = 'table';
    }

    //Function to turn the dropdown arrow when clicked on
    function arrow(id) {
        var obj= document.getElementById(id);
        if(obj.classList == 'fa fa-caret-down')
            obj.classList = 'fa fa-caret-right';
        else if (obj.classList == 'fa fa-caret-right')
            obj.classList = 'fa fa-caret-down';
    }
</script>

<button onclick="toggle_visibility('projectTable'); toggle_visibility('addProject'); arrow('arrow1');" class="btn"><h2><i id="arrow1" style="position: relative; top:-7px; font-size:14px" class="fa fa-caret-right"></i> Projects</h2></button>

<button style="display: none" id="addProject" type="submit" class="btn btn-link"><a href="/calendme/newProject"><i class="fas fa-plus-circle"> Add Project</i></a></button>
<p></p>
<table style="display: none" class="table" id="projectTable">
    {{#each projects}}
        <tr>
            <td>
                <form action="/calendme" method="post" >
                    <input type="hidden" name="project" value={{this._id}}>

                    <div class="btn-group dropright">
                        <button type="submit" class="btn btn-link">
                            {{this.name}}
                        </button>
                        <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                            {{#each this.members}}
                                <li>&nbsp {{this.firstname}} {{this.name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </form>
            </td>
        {{#if (ifIn "admin" ../user.roles "ok" "")}}
            <td>
                <form action="/calendme/project/delete" method="post">
                    <input type="hidden" name="projectToDelete" value={{this._id}}>
                    <button type="submit" class="btn btn-link float-right"><i class="fas fa-trash-alt"> Delete Project</i></button>
                </form>
            </td>
        {{/if}}
        </tr>
    {{/each}}
</table>


<button onclick="toggle_visibility('assignedTable'); arrow('arrow2');" class="btn"><h2><i style="position: relative; top:-7px; font-size:14px" id="arrow2" class="fa fa-caret-right"></i> Assigned Tasks</h2></button>
<p></p>
<table style="display: none" class="table" id="assignedTable">
    <tr>
        <th>Task</th>
        <th>Project</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Status</th>
    </tr>
    {{#each assignedTasks}}
        <tr>
            <td>
                <form action="/calendme/get-task" method="post" >
                    <input type="hidden" name="task" value={{this._id}}>
                    <button type="submit" class="btn btn-link">{{this.name}}</button>
                </form>
            </td>
            <td>{{this.project.name}}</td>
            <td>{{toLocalDate this.start_date}}</td>
            <td>{{toLocalDate this.due_date}}</td>
            <td><span class="badge badge-warning">{{this.status.name}}</span></td>
        </tr>
    {{/each}}
</table>


<button onclick="toggle_visibility('finishedTable'); arrow('arrow3');" class="btn"><h2><i style="position: relative; top:-7px; font-size:14px" id="arrow3" class="fa fa-caret-right"></i> Finished Tasks</h2></button>
<p></p>
<table style="display: none" class="table" id="finishedTable">
    <tr>
        <th>Task</th>
        <th>Project</th>
        <th>Start Date</th>
        <th>Due Date</th>
    </tr>
    {{#each finished}}
        <tr>
            <td>
                <form action="/calendme/get-task" method="post" >
                    <input type="hidden" name="task" value={{this._id}}>
                    <button type="submit" class="btn btn-link">{{this.name}}</button>
                </form>
            </td>
            <td>{{this.project.name}}</td>
            <td>{{toLocalDate this.start_date}}</td>
            <td>{{toLocalDate this.due_date}}</td>
        </tr>
    {{/each}}
</table>

<button onclick="toggle_visibility('export'); arrow('arrow4');" class="btn"><h2><i style="position: relative; top:-7px; font-size:14px" id="arrow4" class="fa fa-caret-right"></i> Export </h2></button>
<p></p>
<div style="display: none" class="table" id="export">
    <form action="/calendme/export" method="post" >
        <input type="hidden" name="exportType" value="JSON">
        <button type="submit" class="btn btn-link">JSON</button>
    </form>

    <form action="/calendme/export" method="post" >
        <input type="hidden" name="exportType" value="CSV">
        <button type="submit" class="btn btn-link">CSV</button>
    </form>

    <form action="/calendme/export" method="post" >
        <input type="hidden" name="exportType" value="XML">
        <button type="submit" class="btn btn-link">XML</button>
    </form>

    <form action="/calendme/export" method="post" >
        <input type="hidden" name="exportType" value="XLSX">
        <button type="submit" class="btn btn-link">XSLX</button>
    </form>
</div>


{{#if (ifIn "admin" user.roles "ok" "")}}
    <button onclick="toggle_visibility('admin'); arrow('arrow5');" class="btn"><h2><i style="position: relative; top:-7px; font-size:14px" id="arrow5" class="fa fa-caret-right"></i> Admin </h2></button>
    <p></p>
    <div id="admin" style="display:none">

        <button onclick="toggle_visibility('allUsers'); arrow('arrow6');" class="btn"><h2><i style="position: relative; top:-7px; font-size:14px" id="arrow6" class="fa fa-caret-right"></i> All users</h2></button>
        <p></p>
        <table id="allUsers" style="display:none">

            {{#each user_admin}}
                <tr>
                    <td>
                        {{this.firstname}} {{this.name}}
                    </td>
                    <td>
                        <form action="/calendme/deletemember" method="post">
                            <input type="hidden" name="member" value={{this._id}}>
                            <button type="submit" class="btn btn-link"><i class="fas fa-trash-alt"> Delete Member</i></button>
                        </form>
                    </td>
                    <td>
                        <form action="calendme/upgrademember" method="post">
                            <input type="hidden" name="member" value={{this._id}}>
                            <button type="submit" class="btn btn-link"><i class="fas fa-angle-double-up"> Upgrade to Admin</i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </table>


        <button onclick="toggle_visibility('status'); arrow('arrow7');toggle_visibility('addStatus');" class="btn"><h2><i style="position: relative; top:-7px; font-size:14px" id="arrow7" class="fa fa-caret-right"></i> Status </h2></button>
        <p></p>
        <button style="display: none" id="addStatus" type="submit" class="btn btn-link"><a href="/calendme/newStatus"><i class="fas fa-plus-circle"> Add Status</i></a></button>
        <table id="status" style="display:none">

            {{#each statusList}}
                <tr>
                    <td>
                        {{this.name}}
                    </td>
                    <td>
                        <form action="/calendme/deleteStatus" method="post">
                            <input type="hidden" name="_id" value={{this._id}}>
                            <button type="submit" class="btn btn-link"><i class="fas fa-trash-alt"> Delete </i></button>
                        </form>
                    </td>
                    <td>
                        <form action="calendme/editStatus" method="post">
                            <input type="hidden" name="status" value={{this._id}}>
                            <button type="submit" class="btn btn-link"><i class="fas fa-edit"> Edit </i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </table>


    </div>
{{/if}}
